.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
}

.page_item:first-child .page_link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page_item:last-child .page_link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page_link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page_link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.active .page_link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
